@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #fff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --testio: #6D603B;
}

@font-face {
  font-family: 'circular-std-medium';
  src: url('../fonts/Circular/CircularStd-Medium.otf');
}
@font-face {
  font-family: 'circular-std-light';
  src: url('../fonts/Circular/CircularStd-Light.otf');
}

@font-face {
  font-family: 'circular-std-bold';
  src: url('../fonts/Circular/CircularStd-Bold.otf');
}
@font-face {
  font-family: 'circular-std-book';
  src: url('../fonts/Circular/CircularStd-Book.otf');
}


.error {
  color: #f33838;
  font-size: 10px;
  font-family: 'Ubuntu Mono', monospace;
  position: absolute;
}