@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Fredoka:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Space+Grotesk:wght@300&display=swap');


:root {
  --primary-light: #8abdff;
  --primary: #6d5dfc;
  --primary-dark: #5b0eeb;
  --white: #fff;
  --greyLight-1: #e4ebf5;
  --greyLight-2: #c8d0e7;
  --greyLight-3: #bec8e4;
  --greyDark: #9baacf;

  --testio: #6D603B;
}


@font-face {
  font-family: 'Statoshi-regular';
  src: url('../fonts/statoshi/Satoshi-Regular.ttf');
}


body {
  /* background-color: #EFF4F8; */
  font-family: 'Statoshi-regular';
  /* font-family: 'circular-std-light'; */
}

.error {
  color: #f33838;
  font-size: 10px;
  font-family: 'Ubuntu Mono', monospace;
  position: absolute;
}

.active { background: #1a83ff; }
.align-pad {padding: 0 100px;}
.nav-link { color: rgb(10, 16, 49); background: none;}
/* .active { border-bottom: 2px solid #010124;} */


.private { display: block;}
.react-calendar { width: 100% !important; font-family: inherit !important; max-width: 100% !important;}
.profile-header { font-size: 20px; font-weight: bold;}


.hamburger { cursor: pointer;}
.hamburger .line{
  width: 35px;
  height: 3px;
  background-color: #ecf0f1;
  display: block;
  margin: 6px auto;
  -webkit-transition: all 0.3s ease-in-out;
  -o-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#hamburger-12.is-active .line:nth-child(1){
  opacity: 0;
  -webkit-transform: translateX(-100%);
  -ms-transform: translateX(-100%);
  -o-transform: translateX(-100%);
  transform: translateX(-100%);
}

#hamburger-12.is-active .line:nth-child(3){
  opacity: 0;
  -webkit-transform: translateX(100%);
  -ms-transform: translateX(100%);
  -o-transform: translateX(100%);
  transform: translateX(100%);
}






.file {
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.file > input[type='file'] {
  display: none
}

.file > label {
  cursor: pointer;
  outline: 0;
  user-select: none;
  border-color:   hsl(204, 86%, 53%);
  border-style: solid;
  border-radius: 50%;
  border-width: 1px;
  background-color: hsl(195, 100%, 96%);
  color: hsl(0, 0%, 29%);
  padding: 4px;
}



















.swiper {
  width: 100%;
  height: 100%;
}

.swiper-slide img {
  display: block;
  width: 100%;
  height: 100%;
  object-fit: cover;
}


.swiper-container-horizontal>.swiper-pagination-progressbar {
  width: 20%;
  height: 4px;
left: 48%;
top: 95%;
  background-color: rgba(232, 227, 227, 0.2);
}

.swiper-pagination-progressbar .swiper-pagination-progressbar-fill {
  width: 100%;
  background-color: #f06a44;
}

.swiper-horizontal>.swiper-pagination-progressbar, .swiper-pagination-progressbar.swiper-pagination-horizontal, .swiper-pagination-progressbar.swiper-pagination-vertical.swiper-pagination-progressbar-opposite, .swiper-vertical>.swiper-pagination-progressbar.swiper-pagination-progressbar-opposite {
  background: grey;
}
.swiper-pagination-progressbar-fill  { background: linear-gradient(to right, #000, #00d4ff) !important;}
.text { background: #00000067; }

@keyframes slide-slow {
  from {
    margin-left: 100%;
    width: 300%; 
  }

  to {
    margin-slow: 0%;
    width: 100%;
  }
}

.new-anime {
  animation: 4s slide-slow; ;
}

@keyframes slide-slow {
  from {
    margin-left: 100%;
    width: 300%;
  }

  to {
    margin-slow: 0%;
    width: 100%;
  }
}

@media screen and (max-width: 1280px) {
  .align-pad {padding: 0px 30px;  }
  .private { display: none !important;}
  .active { background: #fff; border-bottom: 1px solid rgba(0, 0, 0, 0.469);}
  .react-calendar { border: 1px solid rgba(106, 106, 106, 0.464) !important;}
  .profile-header {  margin:30px 0 0 0; font-size: 18px;}
}


@media screen and (max-width: 1024px) {
  .profile-header {  margin: 30px 0 30px 0; font-size: 16px;}
}

@media screen and (max-width: 600px) {
  .profile-header {  margin: 12px 0 30px 0 }
}
@media screen and (max-width: 480px) {
  .profile-header {  margin: -12px 0 20px 0; }
}

@media screen and (max-width: 480px) {
  .align-pad { padding: 0px 15px; }
  .private-two { display: none;}
  .auth-page-adjust { margin-top: -80px;}
}